*.pyc
__pycache__
target
.coverage
user
.project
.pydevproject
ve*
*~
.*~
*.iml
.idea
out

# generated pdoc documentation
api-doc

# Virtualization artifacts
Vagrantfile
.vagrant
**/*.swp

# Ignoring cram test error
src/cmdlinetest/test_help.t.err
